.form {
	margin: 20px;
}

.form__legend {
	padding: 10px;
	background-color: #999;
	border-radius: 10px;
	margin: 3px;
}

.form__fieldset {
	background-color: hsl(180, 84%, 35%);
	border-radius: 10px;
	padding: 15px, 10px;
}

.form__label {
	font-size: 18px;
	padding: 5px;
	display: block;
	margin: 3px;
}

.form__text {
  padding: 5px;
	font-size: 18px;
	margin: 3px;
}

.form__button {
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background-color: #eee;
	padding: 5px;
	transition: 0.4s;
	margin: 3px;
}

.form__select {
	padding: 2px;
	margin: 3px;
}

.form__input {
	max-width: 120px;
	margin: 3px;
}
